chrome_update
outdated_version
progres.log
cron.log
run.sh
get_tomorrow_games.sh
__pycache__
venv
google-chrome-stable_current_amd64.deb
cron_set
progres.log.DS_Store
__pycache__
requirements.txt
eurosport/tennis_data.db
test
flashscore/data/
.env
